@media screen and (max-width: 1550px) {
    nav ul li.sub-menu-open ul li{
        padding: 7% 0 4% 0;
    }
}

@media screen and (max-width: 1320px) {
    .first-section h1 {
        font-size: 2.6em;
    }
    nav ul li.sub-menu-open ul li {
        padding: 9% 0 4% 0;
    }
}

@media screen and (max-width: 1188px) {
    .second-section h1 {
        font-size: 2.2em;
    }
    .second-section p {
        font-size: 0.95em;
    }
}

@media screen and (max-width: 1005px) {
    .second-section h1 {
        font-size: 1.8em;
    }
    nav ul li.sub-menu-open ul li {
        height: 279px;
    }
}

@media screen and (max-width: 960px) {
    .first-section h1 {
        font-size: 2.2em;
    }
    .button { 
        font-size: 0.55em;
    }
}

@media screen and (max-width: 840px) {
    nav ul li a {
        font-size: .5em;
    }
    .second-section h1 {
        font-size: 1.5em;
    }
}


@media screen and (max-width: 814px) {
    .first-section h1 {
        font-size: 2.0em;
    }
    .button {
        font-size: 0.5em;
    }
    .second-section p {
        font-size: 0.92em;
    }
}

@media screen and (max-width: 753px) {
    .first-section h1 {
        font-size: 1.5em;
    }
    .button {
        font-size: 0.45em;
    }
    nav ul li { 
        margin-right: 15px;
    }
}

