@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?46r01a');
    src:  url('fonts/icomoon.eot?46r01a#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?46r01a') format('truetype'),
      url('fonts/icomoon.woff?46r01a') format('woff'),
      url('fonts/icomoon.svg?46r01a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }

body {
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    height: 66px;
    position: relative;
  }

  header div {
    display: flex;
    align-items: center;
  }
  nav {
    height: 100%;
  }

  nav ul {
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    padding-top: 3%;
  }

  nav > ul {
    height: 100%;
  } 

  nav ul li{
      display: inline-block;
      margin-right: 20px;
      font-weight: 300;
      height: 100%;
  }

  nav ul li.sub-menu-open ul {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    padding-left: 0;
    justify-content: space-around;
    top:100%;
    padding-top: 0;
  }

  nav ul li.sub-menu-open ul li {
    margin: 0;
    background: white;
    flex-basis: 100%;
    text-align: center;
    padding: 5% 0 4% 0;
    display: block;
    opacity: 0.9;
    height: 270px;
    box-sizing: border-box;
  }
  nav ul li.sub-menu-open ul li a {
    height: 100%;
    font-size: 50px;
    font-weight: 300;
    color: black;
    width: 483px;
    display: block;
    margin: 0 auto;
  }
  nav ul li.sub-menu-open ul li:hover {
    background: red;
    
  }

  nav ul li.sub-menu-open ul li:hover > a {
    color: white;
  }

  nav ul li a {
    text-decoration:none;  
    font-size: .64em; 
    color: black;   
  }

  nav ul li.sub-menu-open:hover > ul {
   display: flex;
  }

  .first-section {
    padding: 10.3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .first-section h1 {
    color: white;
    font-size: 3.6em;
    max-width: 1339px;
    text-align: center;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 44px;
  }

  .button {
    background-color: #f14848;
    text-decoration: none;
    color: white;
    font-size: .64em;
    letter-spacing: 1.5px;
    font-weight: 300;
    padding: 1.2em 2em;
    border-radius: 1.7em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  .button:hover {
    -webkit-box-shadow: 1px 9px 5px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 1px 9px 5px 3px rgba(0,0,0,0.26);
    box-shadow: 1px 9px 5px 3px rgba(0,0,0,0.26);
  }

  .second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 7%;
    
  }

  .second-section h1 {
    font-size: 2.6em;
    text-align: center;
    font-weight: 300;
    margin-bottom: 17px;
  }

  .second-section p {
    font-size: 1em;
    font-weight: 100;
    max-width: 551px;
    text-align: center;
    margin-bottom: 89px;
  }

.section-three {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-top: 70px;
  padding-left: 10%;
  padding-right: 10%;
  padding: 70px 10% 10%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
}

.section-three div ul li video {
  position: absolute; 
  right: 0; 
  bottom: 0;
  top:0;
  left: 0;
  width: 100%; 
  z-index: -1;
  padding: 0;
}

.section-three div ul li div.item-content {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section-three div ul li:first-child video {
  display: block;
}

.section-three div ul {
  list-style-type: none;
}
.section-three h1 {
  font-size: 1.8em;
  font-weight: 100;
}

.section-three .title-content p {
  font-weight: 200;
  font-size: 0.9em;
}

.title-content {
  width: 25%;
  color: white;
}


.item-content {
  position: absolute;
  right: 0;
  width: 50%;
  font-size: 0.9em;
  color: white;
  font-weight: 100;
  top: 77px;
}

.item-content img {
  margin-top: 23px;
}

.item-list-title {
  color: #606060;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 26px;
  cursor: pointer;
}

.item-list-title:hover + div.item-content {
  display: flex;
}

.item-list-title:hover {
  color: red;
}

.section-four {
  display: flex;
  flex-wrap: wrap;
}
.section-four-item {
  flex-basis: 50%;
  text-align: center;
  padding: 5% 9%;
  box-sizing: border-box;
}

.section-four-item h1 {
  font-size: 2em;
  font-weight: 300;
  text-align: left;
}
.section-four-item p {
  margin-bottom: 64px;
}

.section-four-item:first-child {
  background-image: url("img/section-four-left-bg.png");
}

.section-four-item:first-child h1, .section-four-item:first-child p {
  color: white;
  text-align: center;
}
.section-four-item:last-child {
  background-image: url("img/section-four-right-bg.png");
  text-align: left;
}
.brain-img {
  width: 430px;
  height: 400px;
}
.white {
  background-color: white;
  color: black;
}


